<!DOCTYPE html>
<html>

  <!-- Head information -->
  <head>
    <!-- Insert stylesheet -->

    <!-- Setting the viewport to make website look good on all devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  </head>


  <!-- Body Information -->
<body>
     <!-- Left Navbar  -->
    <div class="game-navbar">
        <button type="button" id="teams-button">Teams</button>
        <button type="button" id="gyms-button">Gyms</button>
        <button type="button" id="pokedex-button">Pokedex</button>
        <button type="button" id="badges-button">Badges</button>
    </div>

     <!-- Main page  -->
    <div class="main-area">
        <div class="user-gym">

        </div>
        <button type="button" id="enter-gym">Enter Gym</button>
    </div>

    <!-- Right Navbar  -->
    <div class="profile-navbar">
        <button type="button" id="logout-button">Logout</button>
        <button type="button" id="profile-button">Profile</button>
    </div>
<!-- Insert JS Script -->
</body>

</html>