<!DOCTYPE html>
<html>

  <!-- Head information -->
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='login_style.css') }}">

    <!-- Setting the viewport to make website look good on all devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  </head>


  <!-- Body Information -->
<body>
    <div class="loginPage">
        <div class="greeting">
            <h1>Welcome</h1>
        </div>

        <div class="login">
            <form method="post">
                <label for="username">Username:</label>
                <br>
                <input type="text" id="username" name="username">
                <br><br>
                <label for="password">Password:</label>
                <br>
                <input type="password" id="password" name="password">
                <br><br>
                <input type="submit" id="submitUserPass" value="Login">
            </form>
        </div>

    </div>
<script src="{{ url_for('static', filename='indexScript.js') }}"></script> 
</body>

</html>