<!DOCTYPE html>
<html>

  <!-- Head information -->
  <head>
    <!-- Insert stylesheet -->
    <link rel="stylesheet" href="../static/style.css">
    <!-- Setting the viewport to make website look good on all devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  </head>


  <!-- Body Information -->
<body>
    <div class="loginPage">
        <div class="header" id="entrance-header">
            <p>Pokemon Boss Rush</p>
        </div>

        <div class="login-section">
            <div id="greeting">
                <h1>Welcome to Pokemon Boss Rush</h1>
            </div>
            
            <div id="entrance-form">
                <form method="post" id="login">
                <label for="username">Username:</label>
                <br>
                <input type="text" id="username" name="username">
                <br><br>
                <label for="password">Password:</label>
                <br>
                <input type="password" id="password" name="password">
                <br><br>
                <input type="submit" id="submitUserPass" value="Login">
            </form>
            </div>
            
        </div>

        <div class="footer" id="entrance-footer"></div>

    </div>
<!-- Insert JS Script -->
</body>

</html>