{% extends "base.html" %}

<!-- Tab title -->
{% block title %}Pokemon Boss Rush{% endblock %}

<!-- For login HTML body -->    
{% block content %}
<div class="homepage">
  <div class="navbar">
    <h2>GAME NAVIGATION</h2>
    <button onclick="location.href='/teams'">Teams</button>
    <button onclick="location.href='/gyms'">Gyms</button>
    <button onclick="location.href='/pokedex'">Pokedex</button>
    <button onclick="location.href='/badges'">Badges</button>
  </div>

  <div class="header">POKEMON RUSH! GO!</div>
  
  <div class="profile">
    <h2>Check Your Profile</h2>
    <button onclick="location.href='/auth/'">Logout</button>
    <button onclick="location.href='/profile'">Profile</button>
  </div>

  <div class="main">
    <div class="arena">
      <div class="user">
        <div class="user-shape"></div>
        <div>{{ user }}</div>
      </div>
      <div class="gym"></div>
      <!--button class="enter-btn" onclick="alert('Entering Gym...')">Enter Gym</button-->
      <button class="enter-btn" onclick="location.href='/battle'">Enter Gym</button>
    </div>
  </div>
  <div class="footer">~~~~~ Enjoy The Game ~~~~</div>
</div>
{% endblock %}
