{% extends "base.html" %}

<!-- Tab title -->
{% block title %}Pokemon Boss Rush{% endblock %}

<!-- For login HTML body -->    
{% block content %}
<div class="login_page_body">
    <!-- 
        The login() function in auth.py handles user/form validation.
        - If the user signs up, we send the value "signup" to flask
        - If the user is logging in, we send the value "login" to flask
      -->
    <h2 class="login_page" style='color: rgb(68, 69, 71); text-align: center;'>Pokemon Boss Rush Sign Up</h2>
    <form class="login_page" action=" " method="POST">
        <input class="login_page" type="hidden" name="form_type" value="signup">
        <input class="login_page" type="text" name="user_id" placeholder="Username" required>
        <input class="login_page" type="password" name="pwd" placeholder="Password" required>
        <input class="login_page" type="email" name="email" placeholder="Email" required>
        <button class="login_page" type="submit">Signup</button>
    </form>


    <h2 class="login_page" style='color: rgb(68, 69, 71); text-align: center;'>Pokemon Boss Rush Login</h2>
    <form class="login_page"action=" " method="POST">
        <input class="login_page" type="hidden" name="form_type" value="login">
        <input class="login_page" type="text" name="user_id" placeholder="Username" required>
        <input class="login_page" type="password" name="pwd" placeholder="Password" required>
        <input class="login_page" type="email" name="email" placeholder="Email" required>
        <button class="login_page" type="submit">Login</button>
    </form>
</div>
{% endblock %}

