{% extends "base.html" %}

{% block title %}Pokedex{% endblock %}

{% block content %}
  <div class="pokedex_body">
    <div class="top_navbar">
        <button type="button" onclick="location.href='/home'">Back to Home</button>
    </div>


    <h1>Search Pokedex</h1>

    <form id="search-form">
      <input type="text" id="pokemon-name-input" placeholder="Enter Pokémon Name" required>
      <button type="submit">Find Pokémon</button>
      <a hrqef="/pokedex"><button type="button">Show All</button></a>
    </form>

    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Type 1</th>
          <th>Type 2</th>
          <th>HP</th>
          <th>Attack</th>
          <th>Defense</th>
        </tr>
      </thead>
      <tbody>
        {% if entries %}
          {% for pokemon in entries %}
            <tr>
              <td>{{ pokemon.pokedex_id }}</td>
              <td>{{ pokemon.name }}</td>
              <td>{{ pokemon.pType_1 }}</td>
              <td>{{ pokemon.pType_2 or 'N/A' }}</td>
              <td>{{ pokemon.hp }}</td>
              <td>{{ pokemon.attack }}</td>
              <td>{{ pokemon.defense }}</td>
            </tr>
          {% endfor %}
        {% elif pokemon %}
          <tr>
            <td>{{ pokemon.pokedex_id }}</td>
            <td>{{ pokemon.name }}</td>
            <td>{{ pokemon.pType_1 }}</td>
            <td>{{ pokemon.pType_2 or 'N/A' }}</td>
            <td>{{ pokemon.hp }}</td>
            <td>{{ pokemon.attack }}</td>
            <td>{{ pokemon.defense }}</td>
          </tr>
        {% else %}
          <tr>
            <td colspan="7">No Pokedex entry found.</td>
          </tr>
        {% endif %}
      </tbody>
    </table>

    <script>
      document.getElementById('search-form').addEventListener('submit', function(event) {
        event.preventDefault();
        const pokemonName = document.getElementById('pokemon-name-input').value.trim();
        if (pokemonName) {
          window.location.href = '/pokedex/search/' + encodeURIComponent(pokemonName);
        }
      });
    </script>
  </div>
{% endblock %}
