{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="top_navbar">
        <button type="button" onclick="location.href='/home'">← Back to Homepage</button>
    </div>

    <div class="profile_container">
        <div class="left_summary">
            <div class="user_image_container">
                <img class="user_image" src="{{ url_for('static', filename='user.webp') }}" alt="User image">
            </div>
            <div class="username_display">{{ user }}</div>
            <div class="badge_status">Badge Level: {{ badge_level }}</div>
        </div>

        <div class="right_info">
            <div class="top_user_info">
                <dl>
                    <dt>Username:</dt>
                    <dd>{{ user }}</dd>
                    <dt>Email:</dt>
                    <dd>{{ email or "Not provided" }}</dd>
                </dl>
            </div>

            <div class="game_stats">
                <dl>
                    <dt>Win/Loss Rate:</dt>
                    <dd>{{ win_loss_rate or "N/A" }}</dd>
                    <dt>Average Battle Time:</dt>
                    <dd>{{ avg_battle_time or "N/A" }} minutes</dd>
                    <dt>Badges Earned:</dt>
                    <dd>{{ badges_earned or "0" }}</dd>
                </dl>
            </div>
            
            <div class="profile_buttons">
                <div class="profile_actions">
                    <button class="gym_button" type="button" onclick="location.href='/gym/'">
                        Challenge the Gyms
                    </button>
                </div>
                <div class="delete_account">
                    <button class="delete_button">Delete Account</button>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}