<!DOCTYPE html>
<html>

  <!-- Head information -->
  <head>
    <!-- Insert stylesheet -->
    <link rel="stylesheet" href="../static/style.css">
    <!-- Setting the viewport to make website look good on all devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  </head>


  <!-- Body Information -->
<body>
    <div class="registerPage">
        <div class="header" id="entrance"></div>

        <div class="register-section">
            <h1>Register for Pokemon Boss Rush</h1>
            <form method="post" id="register">
                <label for="username">Username:</label>
                <br>
                <input type="text" id="username" name="username">
                <br><br>
                <label for="email">Email:</label>
                <br>
                <input type="text" id="email" name="email">
                <br><br>
                <label for="password">Password:</label>
                <br>
                <input type="password" id="password" name="password">
                <br><br>
                <input type="submit" id="submitUserPass" value="Create Account">
            </form>
        </div>

        <div class="footer" id="entrance"></div>

    </div>
<!-- Insert JS Script -->
</body>

</html>