<!-- From Mengmeng -->
{% extends "base.html" %}

<!-- Tab title -->
{% block title %}Teams{% endblock %}

<!-- For login HTML body -->    
{% block content %}

<div class="teams_body">

  <div class="top_navbar">
        <button type="button" onclick="location.href='/home'">Back to Homepage</button>
  </div>
  
  <div class="teams_header">
    <header>Build Your First Pokémon Team!</header>
  </div>
  
  <div class="pick_team_name">
    <form id="set_team_name">
      <label for="team_name">🎮 Team Name:</label>
      <input type="text" id="team_name" placeholder="Enter team name" />
      <button id="submit_team">💾 Save Team</button>
      <br>
      <label for="team_status">🔥 Set Team Status:</label>
      <input type="checkbox" id="team_status" name="is_active" value="1" />
      <span class="checkbox-label">Is Active</span>
    </form>
  </div>
  
  <div class="pick_pokemon">
    <h3>Pick Six Pokémon</h3>
    {% for i in range(1, 7) %}
    <label for="pokemon{{ i }}">Pokémon {{ i }}</label>
    <input type="text" name="pokemon{{ i }}" id="pokemon{{ i }}" placeholder="Search..." />
    <button id="search_poke{{ i }}">Search</button>
    <br><br>
    {% endfor %}
  </div>

  
  <div class="display_pokemon">

  </div>

</div>
  
{% endblock %}
